.App {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    white-space: nowrap;
    position: relative;
}

.textField{
    width: 100%;
}

.clear-icon {
    position: absolute;
    color: blue;
    cursor: pointer;
    top: 16px;
    right: 10px;
}

.context {
    width: 100%;
    position: absolute;
    left: 0;
    top: 56px;
}

.city {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c7c3c3;
    padding: 5px;
    font-family: sans-serif;
    font-size: 14px;
}

.cityRightSide {
    display: flex;
    text-align: right;
}

.cityRightSide :first-of-type {
    margin-right: 5px;
}

.city:hover {
    background: #303f9f;
    color: #fff;
    cursor: pointer;
}

:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
